<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9C5_O8vXMvIl2cNtZFFyeLtFV11ePA1c</string>
	<key>GCM_SENDER_ID</key>
	<string>195234126788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classesApplication</string>
	<key>PROJECT_ID</key>
	<string>portal-application-f43a8</string>
	<key>STORAGE_BUCKET</key>
	<string>portal-application-f43a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195234126788:ios:ae8d9ac898262b98ade291</string>
</dict>
</plist>